.amp-btn-primary {
	border-radius: 4px;
	position: relative;
	border: none;
	display: flex;
	padding: 2px 20px;
	height: 36px;
	text-align: center;
	background: #267CB2;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	align-items: center;
	cursor: pointer;
}